[Desktop Entry]
Type=Application
Exec=su-to-root -c /usr/sbin/sshactivate
Icon=sshactivate
Terminal=true
Name=SSH Activate
GenericName=Activate SSH Server (Remote access)
GenericName[de]=SSH Server aktivieren (Remote-Zugang)
Categories=Network;
Keywords=ssh;sshd;openssh;
