[Desktop Entry]
Type=Application
Exec=su-to-root -c /usr/sbin/sshdeactivate
Icon=sshdeactivate
Terminal=true
Name=SSH Deactivate
GenericName=Deaktivate SSH Server (Remote access)
GenericName[de]=SSH Server deaktivieren (Remote-Zugang)
Categories=Network;
Keywords=ssh;sshd;openssh;
