Source: sshactivate
Section: net
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Vcs-git: https://git.siduction.org
Vcs-Browser: https://git.siduction.org

Package: sshactivate
Architecture: all
Depends: ${misc:Depends},
         openssh-server,
         procps
Recommends: menu
Suggests: xterm | x-terminal-emulator
Description: set ssh passwords and activate/deactivate SSHD
 Generates ssh2 host keys and starts the installed Secure Shell (SSH) Server
 (OpenSSH). Additionally a password needs to be set for the live user, root
 passwords need to be set manually.
 
