#!/usr/bin/make -f

DH_VERBOSE=1


%:
	dh $@

create-icons:
	# create XDG compatible icons from SVG
	for i in 16 22 32 48 64 128; do \
		mkdir -p "icons/hicolor/$${i}x$${i}/apps" ; \
		inkscape --export-width=$${i} \
			 --export-height=$${i} \
			 --export-png="$(CURDIR)/icons/hicolor/$${i}x$${i}/apps/sshstart.png" \
				$(CURDIR)/icons/sshstart.svg ; \
	done
	
	# create XPM icons for the debian menu system
	mkdir -p icons/pixmaps
	convert icons/hicolor/32x32/apps/sshstart.png icons/pixmaps/sshstart.xpm
	convert icons/hicolor/16x16/apps/sshstart.png icons/pixmaps/sshstart-16.xpm
